<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>3D Coverflow Carousel with Auto Slide</title>
  <link rel="stylesheet" href="/css/carousal.css">

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.3.2/swiper-bundle.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.3.2/swiper-bundle.min.js"></script>
</head>
<body >
  <div class="carousel-container">
      <div class="swiper">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="ug-slide-3 w-slide">
                  <div class="user-group-card"><img src="../cover/bluemanwithgold-removebg-preview.svg" loading="lazy" alt="Student icon" class="ug-icon">
                    <div class="ug-role">Students</div>
                    <div class="ug-point-5">Get found by companies for internships / jobs</div>
                    <div class="ug-point-5">Get replies from top-shelf professionals</div>
                    <div class="ug-point-5">Get freelance / part-time opportunities</div>
                    <div class="ug-point-5">Get world-class job opportunities</div>
                    <div class="ug-thumb">
                      <div>
                        <div class="ug-person-name">Aaradhya Vats</div>
                        <div class="ug-designation">MBA Student</div>
                      </div>
                      <a href="#" class="w-inline-block"><img src="../images/pic1.jpg" loading="lazy" alt="Student profile" class="ug-img"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide"> 
                <div class="ug-slide-3 w-slide">
                  <div class="user-group-card"><img src="../cover/bluemanwithgold-removebg-preview.svg" loading="lazy" alt="Professional icon" class="ug-icon">
                    <div class="ug-role">Professionals</div>
                    <div class="ug-point-5">Let companies find you for work</div>
                    <div class="ug-point-5">Land freelance gigs passively</div>
                    <div class="ug-point-5">Stand out from others</div>
                    <div class="ug-point-5">Court public speaking gigs</div>
                    <div class="ug-thumb">
                      <div>
                        <div class="ug-person-name">Hitarth Saini</div>
                        <div class="ug-designation">Marketing Head, MoneyTap</div>
                      </div>
                      <a href="#" class="w-inline-block"><img src="../images/pic2.jpg" loading="lazy" alt="Professional profile" class="ug-img"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="ug-slide-3 w-slide">
                  <div class="user-group-card"><img src="../cover/bluemanwithgold-removebg-preview.svg" loading="lazy" alt="Entrepreneur icon" class="ug-icon">
                    <div class="ug-role">Entrepreneurs</div>
                    <div class="ug-point-5">Get inbound leads and clients</div>
                    <div class="ug-point-5">Get found by investors</div>
                    <div class="ug-point-5">Skyrocket authority and credibility</div>
                    <div class="ug-point-5">Build strong PR organically</div>
                    <div class="ug-thumb">
                      <div>
                        <div class="ug-person-name">Guillaume Moubeche</div>
                        <div class="ug-designation">CEO, Lemlist.</div>
                      </div>
                      <a href="#" class="w-inline-block"><img src="../images/pic2.jpg" loading="lazy" alt="Entrepreneur profile" class="ug-img"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="ug-slide-3 w-slide">
                  <div class="user-group-card"><img src="../cover/bluemanwithgold-removebg-preview.svg" loading="lazy" alt="Freelancer icon" class="ug-icon">
                    <div class="ug-role">Freelancers</div>
                    <div class="ug-point-5">Generate open-wallet leads</div>
                    <div class="ug-point-5">Get world-class clients organically</div>
                    <div class="ug-point-5">Skyrocket credibility and authority</div>
                    <div class="ug-point-5">Bag more responses from prospects</div>
                    <div class="ug-thumb">
                      <div>
                        <div class="ug-person-name">Princy Lalawat</div>
                        <div class="ug-designation">Freelance Content Writer</div>
                      </div>
                      <a href="#" class="w-inline-block"><img src="../images/pic3.avif" loading="lazy" alt="Freelancer profile" class="ug-img"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="ug-slide-3 w-slide">
                  <div class="user-group-card"><img src="../cover/bluemanwithgold-removebg-preview.svg" loading="lazy" alt="Coach icon" class="ug-icon">
                    <div class="ug-role">Coach</div>
                    <div class="ug-point-5">Skyrocket credibility and trust</div>
                    <div class="ug-point-5">Land new leads and customers</div>
                    <div class="ug-point-5">Have conversation at scale using content</div>
                    <div class="ug-point-5">Skyrocket visibility and authority</div>
                    <div class="ug-thumb">
                      <div>
                        <div class="ug-person-name">Sadaf Tahir</div>
                        <div class="ug-designation">Corporate Trainer</div>
                      </div>
                      <a href="#" class="w-inline-block"><img src="../images/pic5.avif" loading="lazy" alt="Coach profile" class="ug-img"></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="ug-slide-3 w-slide">
                  <div class="user-group-card"><img src="../cover/bluemanwithgold-removebg-preview.svg" loading="lazy" alt="Sales icon" class="ug-icon">
                    <div class="ug-role">Sales Professional</div>
                    <div class="ug-point-5">Find top-shelf active prospects</div>
                    <div class="ug-point-5">Increased replies from prospects</div>
                    <div class="ug-point-5">Land content-driven leads</div>
                    <div class="ug-point-5">Skyrocket credibility and authority</div>
                    <div class="ug-thumb">
                      <div>
                        <div class="ug-person-name">Achyut Menon</div>
                        <div class="ug-designation">MD, Options Executive</div>
                      </div>
                      <a href="#" class="w-inline-block"><img src="../images/pic6.avif" loading="lazy" alt="Sales profile" class="ug-img"></a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          
          <!-- Navigation buttons -->
          
          <br>
          <br>
          <!-- Pagination dots -->
          <div class="swiper-pagination"></div>
      </div>
  </div>
  
 <script src="/js/carousal.js" defer></script>

</body>
</html>